In [1]:
import pandas as pd

In [2]:
evaluation_list = [

    {
        "log_folder": "",
        "name": "Single",
        "debugger": "True",
        "model": "gpt-5-mini",
        "reasoning": "medium"
    },
    {
        "log_folder": "",
        "name": "Single",
        "debugger": "True",
        "model": "gpt-5.1",
        "reasoning": "medium"
    }]

path = '/Users/alexander/VSC_local/Wayang/AI_Wayang_Testsuite/results/early_closed_test/early_closedsource_test'

multi_single = "Single"

output_name = "closed_dataset_multi"

In [3]:
from utils.tester import Tester

tester = Tester()

df = tester.get_testdata(evaluation_list, path)

df = df[df["name"] == multi_single]

df["id"] = range(1, len(df) + 1)

df = df.sort_values("id", ascending=True)

In [4]:
df.head()

,test_name,user_request,sql_query,output_act,log_folder,name,debugger,model,reasoning,id
0,t1,Create a plan that outputs all active organisa...,SELECT * FROM organisation WHERE active_organi...,"[{'line': 1, 'data': 'organisation_id,organisa...",,Single,True,gpt-5-mini,medium,1
1,t1,Create a plan that outputs all active organisa...,SELECT * FROM organisation WHERE active_organi...,"[{'line': 1, 'data': 'organisation_id,organisa...",,Single,True,gpt-5.1,medium,2
2,t3,Make a Wayang Plan that take the cities in rel...,SELECT *\nFROM organisation\nWHERE municipalit...,"[{'line': 1, 'data': 'organisation_id,organisa...",,Single,True,gpt-5-mini,medium,3
3,t3,Make a Wayang Plan that take the cities in rel...,SELECT *\nFROM organisation\nWHERE municipalit...,"[{'line': 1, 'data': 'organisation_id,organisa...",,Single,True,gpt-5.1,medium,4
4,t6,Make a Wayang Plan that based on tenancy types...,"SELECT \n t.tenancy_types_id,\n t.tenanc...","[{'line': 1, 'data': 'tenancy_types_id,tenancy...",,Single,True,gpt-5-mini,medium,5

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   test_name     6 non-null      object
 1   user_request  6 non-null      object
 2   sql_query     6 non-null      object
 3   output_act    6 non-null      object
 4   log_folder    6 non-null      object
 5   name          6 non-null      object
 6   debugger      6 non-null      object
 7   model         6 non-null      object
 8   reasoning     6 non-null      object
 9   id            6 non-null      int64
dtypes: int64(1), object(9)
memory usage: 612.0+ bytes

In [6]:
df.to_parquet(f'./{output_name}.parquet', index=False)