# Build testdata

Script for building the testdata file that is used for running

In [1]:
import pandas as pd

In [ ]:
evaluation_list = [

    {
        "log_folder": "",
        "name": "Single",
        "debugger": "False",
        "model": "gpt-5-nano",
        "reasoning": "medium"
    },
    {
        "log_folder": "",
        "name": "Single",
        "debugger": "True",
        "model": "gpt-5-nano",
        "reasoning": "medium"
    },
    {
        "log_folder": "",
        "name": "Single",
        "debugger": "False",
        "model": "gpt-5-mini",
        "reasoning": "medium"
    },
    {
        "log_folder": "",
        "name": "Single",
        "debugger": "True",
        "model": "gpt-5-mini",
        "reasoning": "medium"
    },
    {
        "log_folder": "",
        "name": "Single",
        "debugger": "False",
        "model": "gpt-5",
        "reasoning": "medium"
    },
    {
        "log_folder": "",
        "name": "Single",
        "debugger": "True",
        "model": "gpt-5",
        "reasoning": "medium"
    }]

path = '/Users/alexander/VSC_local/Wayang/AI_Wayang_Testsuite/tests/opensource_test'

multi_single = "Single"

data_source = "Open"

output_name = "open_dataset_single"

In [3]:
from utils.tester import Tester

tester = Tester()

df = tester.get_testdata(evaluation_list, path)

df = df[df["name"] == multi_single]

df["data_source"] = data_source

df["id"] = range(1, len(df) + 1)

df = df.sort_values("id", ascending=True)

In [4]:
df.head(20)

Empty DataFrame
Columns: [test_name, user_request, sql_query, output_act, log_folder, name, debugger, model, reasoning, data_source, id]
Index: []

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   test_name     0 non-null      object
 1   user_request  0 non-null      object
 2   sql_query     0 non-null      object
 3   output_act    0 non-null      object
 4   log_folder    0 non-null      object
 5   name          0 non-null      object
 6   debugger      0 non-null      object
 7   model         0 non-null      object
 8   reasoning     0 non-null      object
 9   data_source   0 non-null      object
 10  id            0 non-null      int64
dtypes: int64(1), object(10)
memory usage: 0.0+ bytes

In [6]:
df.to_parquet(f'./{output_name}.parquet', index=False)

In [7]:
df2 = pd.read_parquet(f'./{output_name}.parquet')

df2.head()

Empty DataFrame
Columns: [test_name, user_request, sql_query, output_act, log_folder, name, debugger, model, reasoning, data_source, id]
Index: []