# Build testdata

Script for building the testdata file that is used for running

In [1]:
import pandas as pd

In [ ]:
evaluation_list = [

    {
        "log_folder": "",
        "name": "Multi",
        "debugger": "False",
        "model": "gpt-5-nano",
        "reasoning": "medium"
    },
    {
        "log_folder": "",
        "name": "Multi",
        "debugger": "True",
        "model": "gpt-5-nano",
        "reasoning": "medium"
    },
    {
        "log_folder": "",
        "name": "Multi",
        "debugger": "False",
        "model": "gpt-5-mini",
        "reasoning": "medium"
    },
    {
        "log_folder": "",
        "name": "Multi",
        "debugger": "True",
        "model": "gpt-5-mini",
        "reasoning": "medium"
    },
    {
        "log_folder": "",
        "name": "Multi",
        "debugger": "False",
        "model": "gpt-5",
        "reasoning": "medium"
    },
    {
        "log_folder": "",
        "name": "Multi",
        "debugger": "True",
        "model": "gpt-5",
        "reasoning": "medium"
    }]

path = '/Users/alexander/VSC_local/Wayang/AI_Wayang_Testsuite/tests/opensource_test'

multi_single = "Multi"

data_source = "Open"

output_name = "open_dataset_multi"

In [3]:
from utils.tester import Tester

tester = Tester()

df = tester.get_testdata(evaluation_list, path)

df = df[df["name"] == multi_single]

df["data_source"] = data_source

df["id"] = range(1, len(df) + 1)

df = df.sort_values("id", ascending=True)

In [4]:
df.head(20)

,test_name,user_request,sql_query,output_act,log_folder,name,debugger,model,reasoning,data_source,id
0,q11,Identify all parts supplied by suppliers locat...,"SELECT\n ps_partkey,\n SUM(ps_supplycost...","[{'line': 1, 'data': 'ps_partkey,value'}, {'li...",,Single,False,gpt-5-nano,medium,Open,1
1,q11,Identify all parts supplied by suppliers locat...,"SELECT\n ps_partkey,\n SUM(ps_supplycost...","[{'line': 1, 'data': 'ps_partkey,value'}, {'li...",,Single,True,gpt-5-nano,medium,Open,2
2,q11,Identify all parts supplied by suppliers locat...,"SELECT\n ps_partkey,\n SUM(ps_supplycost...","[{'line': 1, 'data': 'ps_partkey,value'}, {'li...",,Single,False,gpt-5-mini,medium,Open,3
3,q11,Identify all parts supplied by suppliers locat...,"SELECT\n ps_partkey,\n SUM(ps_supplycost...","[{'line': 1, 'data': 'ps_partkey,value'}, {'li...",,Single,True,gpt-5-mini,medium,Open,4
4,q11,Identify all parts supplied by suppliers locat...,"SELECT\n ps_partkey,\n SUM(ps_supplycost...","[{'line': 1, 'data': 'ps_partkey,value'}, {'li...",,Single,False,gpt-5,medium,Open,5
5,q11,Identify all parts supplied by suppliers locat...,"SELECT\n ps_partkey,\n SUM(ps_supplycost...","[{'line': 1, 'data': 'ps_partkey,value'}, {'li...",,Single,True,gpt-5,medium,Open,6
6,q13,Find the distribution of customers based on ho...,"SELECT\n c_count,\n COUNT(*) AS custdist...","[{'line': 1, 'data': 'c_count,custdist'}, {'li...",,Single,False,gpt-5-nano,medium,Open,7
7,q13,Find the distribution of customers based on ho...,"SELECT\n c_count,\n COUNT(*) AS custdist...","[{'line': 1, 'data': 'c_count,custdist'}, {'li...",,Single,True,gpt-5-nano,medium,Open,8
8,q13,Find the distribution of customers based on ho...,"SELECT\n c_count,\n COUNT(*) AS custdist...","[{'line': 1, 'data': 'c_count,custdist'}, {'li...",,Single,False,gpt-5-mini,medium,Open,9
9,q13,Find the distribution of customers based on ho...,"SELECT\n c_count,\n COUNT(*) AS custdist...","[{'line': 1, 'data': 'c_count,custdist'}, {'li...",,Single,True,gpt-5-mini,medium,Open,10
10,q13,Find the distribution of customers based on ho...,"SELECT\n c_count,\n COUNT(*) AS custdist...","[{'line': 1, 'data': 'c_count,custdist'}, {'li...",,Single,False,gpt-5,medium,Open,11
11,q13,Find the distribution of customers based on ho...,"SELECT\n c_count,\n COUNT(*) AS custdist...","[{'line': 1, 'data': 'c_count,custdist'}, {'li...",,Single,True,gpt-5,medium,Open,12
12,q9,"Generate a Wayang plan that computes, for each...","SELECT\n nation,\n o_year,\n SUM(amou...","[{'line': 1, 'data': 'nation,o_year,sum_profit...",,Single,False,gpt-5-nano,medium,Open,13
13,q9,"Generate a Wayang plan that computes, for each...","SELECT\n nation,\n o_year,\n SUM(amou...","[{'line': 1, 'data': 'nation,o_year,sum_profit...",,Single,True,gpt-5-nano,medium,Open,14
14,q9,"Generate a Wayang plan that computes, for each...","SELECT\n nation,\n o_year,\n SUM(amou...","[{'line': 1, 'data': 'nation,o_year,sum_profit...",,Single,False,gpt-5-mini,medium,Open,15
15,q9,"Generate a Wayang plan that computes, for each...","SELECT\n nation,\n o_year,\n SUM(amou...","[{'line': 1, 'data': 'nation,o_year,sum_profit...",,Single,True,gpt-5-mini,medium,Open,16
16,q9,"Generate a Wayang plan that computes, for each...","SELECT\n nation,\n o_year,\n SUM(amou...","[{'line': 1, 'data': 'nation,o_year,sum_profit...",,Single,False,gpt-5,medium,Open,17
17,q9,"Generate a Wayang plan that computes, for each...","SELECT\n nation,\n o_year,\n SUM(amou...","[{'line': 1, 'data': 'nation,o_year,sum_profit...",,Single,True,gpt-5,medium,Open,18
18,qxx,Find the five suppliers who generated the high...,"SELECT\n s.s_suppkey,\n s.s_name,\n s...","[{'line': 1, 'data': 's_suppkey,s_name,s_addre...",,Single,False,gpt-5-nano,medium,Open,19
19,qxx,Find the five suppliers who generated the high...,"SELECT\n s.s_suppkey,\n s.s_name,\n s...","[{'line': 1, 'data': 's_suppkey,s_name,s_addre...",,Single,True,gpt-5-nano,medium,Open,20

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   test_name     60 non-null     object
 1   user_request  60 non-null     object
 2   sql_query     60 non-null     object
 3   output_act    60 non-null     object
 4   log_folder    60 non-null     object
 5   name          60 non-null     object
 6   debugger      60 non-null     object
 7   model         60 non-null     object
 8   reasoning     60 non-null     object
 9   data_source   60 non-null     object
 10  id            60 non-null     int64
dtypes: int64(1), object(10)
memory usage: 5.3+ KB

In [6]:
df.to_parquet(f'./{output_name}.parquet', index=False)

In [7]:
df2 = pd.read_parquet(f'./{output_name}.parquet')

df2.head()

,test_name,user_request,sql_query,output_act,log_folder,name,debugger,model,reasoning,data_source,id
0,q11,Identify all parts supplied by suppliers locat...,"SELECT\n ps_partkey,\n SUM(ps_supplycost...","[{'data': 'ps_partkey,value', 'line': 1}, {'da...",,Single,False,gpt-5-nano,medium,Open,1
1,q11,Identify all parts supplied by suppliers locat...,"SELECT\n ps_partkey,\n SUM(ps_supplycost...","[{'data': 'ps_partkey,value', 'line': 1}, {'da...",,Single,True,gpt-5-nano,medium,Open,2
2,q11,Identify all parts supplied by suppliers locat...,"SELECT\n ps_partkey,\n SUM(ps_supplycost...","[{'data': 'ps_partkey,value', 'line': 1}, {'da...",,Single,False,gpt-5-mini,medium,Open,3
3,q11,Identify all parts supplied by suppliers locat...,"SELECT\n ps_partkey,\n SUM(ps_supplycost...","[{'data': 'ps_partkey,value', 'line': 1}, {'da...",,Single,True,gpt-5-mini,medium,Open,4
4,q11,Identify all parts supplied by suppliers locat...,"SELECT\n ps_partkey,\n SUM(ps_supplycost...","[{'data': 'ps_partkey,value', 'line': 1}, {'da...",,Single,False,gpt-5,medium,Open,5