# Create evaluation file

Creates an evaluation .xlsx file to check if results are correct

In [1]:
from utils.tester import Tester

tester = Tester()

path = '/Users/alexander/VSC_local/Wayang/AI_Wayang_Testsuite/results/early_closed_test/early_closedsource_test'
path_logs = '/Users/alexander/VSC_local/Wayang/AI_Wayang_Testsuite/results/early_closed_test/logs'
df = tester.get_evaluation_data(path_logs, path)

gpt-5-mini
gpt-5-mini
gpt-5-mini
gpt-5-mini
gpt-5-mini
gpt-5-mini
gpt-5.1
gpt-5-mini
gpt-5-mini
gpt-5.1
gpt-5-mini
gpt-5.1

In [2]:
df.head()

,architecture,model,reasoning,query,status,debugger,dataflow,debug_itr,errors_total,errors_validation,...,total_output_tokens,total_reasoning_tokens,total_netto_input_tokens,log_path,filepath,test_name,user_request,sql_query,output_test,output_act
0,Multi,gpt-5-mini,medium,Create a plan that outputs all active organisa...,Sucessful.,False,"[Query, SpecifierAgent, SelectorAgent, Decompo...",0,0,0,...,3736,1536,27055,/Users/alexander/VSC_local/Wayang/AI_Wayang_Te...,/Users/alexander/Wayang_Data/Output/output_202...,t1,Create a plan that outputs all active organisa...,SELECT * FROM organisation WHERE active_organi...,"[{'line': 1, 'data': '1 | 1 | 1 | Asminderød B...","[{'line': 1, 'data': 'organisation_id,organisa..."
1,Multi,gpt-5-mini,medium,Make a Wayang Plan that based on tenancy types...,Sucessful.,True,"[Query, SpecifierAgent, SelectorAgent, Decompo...",0,0,0,...,11100,5312,17363,/Users/alexander/VSC_local/Wayang/AI_Wayang_Te...,/Users/alexander/Wayang_Data/Output/output_202...,t6,Make a Wayang Plan that based on tenancy types...,"SELECT \n t.tenancy_types_id,\n t.tenanc...","[{'line': 1, 'data': '1 | Etagebolig | 3999'},...","[{'line': 1, 'data': 'tenancy_types_id,tenancy..."
2,Multi,gpt-5-mini,medium,Make a Wayang Plan that take the cities in rel...,Sucessful.,True,"[Query, SpecifierAgent, SelectorAgent, Decompo...",1,1,0,...,12301,5248,12127,/Users/alexander/VSC_local/Wayang/AI_Wayang_Te...,/Users/alexander/Wayang_Data/Output/output_202...,t3,Make a Wayang Plan that take the cities in rel...,SELECT *\nFROM organisation\nWHERE municipalit...,"[{'line': 1, 'data': 'Couldn't open file'}]","[{'line': 1, 'data': 'organisation_id,organisa..."
3,Multi,gpt-5-mini,medium,Make a Wayang Plan that take the cities in rel...,Unsucessful.,False,"[Query, SpecifierAgent, SelectorAgent, Decompo...",0,1,0,...,8612,4096,16010,/Users/alexander/VSC_local/Wayang/AI_Wayang_Te...,/Users/alexander/Wayang_Data/Output/output_202...,t3,Make a Wayang Plan that take the cities in rel...,SELECT *\nFROM organisation\nWHERE municipalit...,"[{'line': 1, 'data': 'Couldn't open file'}]","[{'line': 1, 'data': 'organisation_id,organisa..."
4,Multi,gpt-5-mini,medium,Make a Wayang Plan that based on tenancy types...,Sucessful.,False,"[Query, SpecifierAgent, SelectorAgent, Decompo...",0,0,0,...,10939,4416,26317,/Users/alexander/VSC_local/Wayang/AI_Wayang_Te...,/Users/alexander/Wayang_Data/Output/output_202...,t6,Make a Wayang Plan that based on tenancy types...,"SELECT \n t.tenancy_types_id,\n t.tenanc...","[{'line': 1, 'data': '1,Etagebolig,225'}, {'li...","[{'line': 1, 'data': 'tenancy_types_id,tenancy..."

In [3]:
df.to_excel('./single_check.xlsx', index=False)